
services:
  frontend:
    build:
      context: ./web
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgresql://docker:docker@db:5432/dbGymUp
    depends_on:
      - db
    networks:
      - app-network

  db:
    image: bitnami/postgresql
    ports:
      - "5432:5432"
    environment:
      - POSTGRESQL_USERNAME=docker
      - POSTGRESQL_PASSWORD=docker
      - POSTGRESQL_DATABASE=dbGymUp
    volumes:
      - pgdata:/bitnami/postgresql
    networks:
      - app-network

volumes:
  pgdata:

networks:
  app-network:
    driver: bridge
