
services:
  frontend:
    container_name: frontend_gym_up

    build:
      context: ./web
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    container_name: backend_gym_up

    build:
      context: ./api
      dockerfile: Dockerfile
    command: sh -c "npx prisma migrate deploy && npm run start:dev"
    ports:
      - "3333:3333"
    environment:
      - DATABASE_URL=postgresql://docker:docker@db:5432/dbGymUp
    depends_on:
      - db
    networks:
      - app-network

  db:
    image: postgres:17-alpine
    environment:
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=docker
      - POSTGRES_DB=dbGymUp
    volumes:
      - pgdata:/var/lib/postgresql/data
    container_name: database_gym_up
    ports:
      - "5432:5432"
    networks:
      - app-network

volumes:
  pgdata:

networks:
  app-network:
    driver: bridge
